// Make sure the charset is set appropriately
@charset "UTF-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "colors";
@import "typography";
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans);

body {
  background: #efefef;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: Open Sans;
  color: #222;
}

header {
  @include pad();
  width: 50%;
  float: left;
  color: $black;
  text-align: center;

  ul {
    list-style: none;
    padding-left: 0;
    width: 67%;
    margin: 1.6em auto;
    li {
      display: inline-block;
      a {
        display: block;
        margin: 0.5em;
        width: 16%;
        &:hover i.fa {
          background: rgba(0,0,0, 0.9);
          color: white;
        }
        i.fa {
          background: white;
          border-radius: 100%;
          color: rgba(0,0,0, 0.9);
          font-size: 2em;
          line-height: 2em;
          width: 2em;
          overflow: hidden;
        }
      }
    }
  }

  h1 {
    color: $black;
    font-size: em(30px);
    font-family: Open Sans;
    width: 62%;
    margin: 1.6em auto;
  }

  p {
    color: $black;
    text-align: left;
    width: 62%;
    margin: 1.6em auto;
  }

  .photo {
    border-radius: 100%;
    width: 37%;
    border: rem(10px) solid white;
  }
}


section {
  width: 50%;
  margin-left: 50%;
  background: white;

  article  {
    float: left;
    width: 100%;
    background: white;
    @include pad(3.2em);
    border-bottom: 1px solid #efefef;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      background: rgba(0,0,0,0.9);
      cursor: pointer;
      color: white;
      small {
        color: rgba(255,255,255, 0.2);
      }
    }
    small {
      color: rgba(0,0,0, 0.2);
      time[readingtime] {
        float: right;
      }
      time[pubdate] {
        float: left;
      }
    }
    h2 {
      margin: 0;
    }
  }

}

footer {
  float: left;
  width: 50%;
  @include pad();
  text-align: center;
}
